<a href="https://colab.research.google.com/github/TheophilusAE/AOL_Scientific-Computing/blob/main/2702238432_Flourencia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import time
print(time.ctime())

Thu Feb  6 02:39:39 2025

sesi1

In [3]:
x = 1
x

1

In [4]:
x = x + 1
x

2

In [5]:
x = 1
y = x + 1
x = 2
y

2

In [6]:
import numpy as np

In [7]:
x = np.array([1, 4, 3])
x

array([1, 4, 3])

In [12]:
def my_adder(a, b, c):
  """
  function to sum the 3 numbers
  Input: 3 numbers a, b, c
  Output: the sum of a, b, and c
  author:
  date:
  """

  #this is simulation
  out = a + b + c

  return out

In [13]:
my_adder(1, 2, 3)

6

In [15]:
def my_thermo_stat(temp, desired_temp):
  if temp < desired_temp - 5:
    status = 'Heat'
  elif temp > desired_temp + 5:
    status = 'AC'
  else:
    status = 'off'
  return status

In [16]:
status = my_thermo_stat(65,75)
print(status)

Heat

In [17]:
status = my_thermo_stat(75,65)
print(status)

AC

In [18]:
status = my_thermo_stat(65,63)
print(status)

off

In [19]:
x = 3
if x > 1 and x < 2:
  y = 2
elif x > 2 and x < 4:
  y = 4
else:
  y = 0
print(y)

4

In [20]:
x = 3
if 1 < x < 2:
  y = 2
elif 2 < x < 4:
  y = 4
else:
  y = 0
print(y)

4

Masukan Nama anda : 9

9.0